@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveRight {
  0% { 
    transform: translateX(-100px); 
  }
  100% { 
    transform: translateX(calc(100vw + 100px)); 
  }
}

@keyframes moveLeft {
  0% { 
    transform: translateX(calc(100vw + 100px)); 
  }
  100% { 
    transform: translateX(-100px); 
  }
}

.animate-moveRight {
  animation: moveRight 8s linear infinite;
}

.animate-moveLeft {
  animation: moveLeft 10s linear infinite;
}